/* css reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navbar-height: 59px;
}

/* navigation bar*/
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}


#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}

/* Logo and image */
#logo{
    margin: 34px 45px;
}
#logo img{
    height: 78px;
    margin: -21px 0px;
}


/* List styling*/
#navbar ul{
    display: flex;
    font-family: 'Colonna MT', cursive;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}

#navbar ul li a{
    color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
    background-color: white;
}
/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 4px 326px;
    height: 512px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: " ";
    position: absolute;
    background: url('bg.png') no-repeat center center/cover;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1.89;
}

#home h1{
    color: darkcyan;
    text-align: center;
    font-size: 2.5rem;
    font-family:'Algerian';
}

#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Colonna MT';
}
/*services section*/
#services{
    margin: auto;
    display: flex;
    color: white;
}
#services .box{
    border: 2px solid darkcyan;
    padding: 34px;
    margin: 2px 6px;
    border-radius: 150px;
   background-color:rgb(130 218 219);
    margin-bottom: 20px;
  
}
#services .box img{
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 55px;
}

#services .box p{
    font-family: 'Bree Serif', serif;
    padding: 34px;
}
/*contact section*/
#contact{
    position: relative;
    color: black;
}

#contact::before{
    background: url('bg.png') no-repeat center center/cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
   
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    font-family:initial;
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.9rem;
    color: black;
}
#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family:'Algerian';
}


/* footer*/
[class*="col-"]{
    text-align: center;
   color: white;
    float: left;
    height: 200px;
    padding: 25px;
    background: rgb(15, 83, 92);
    border-right: 1px solid white;
}
.col-4{
   
    width: 33.33333%;
}

/*utility classes*/
.h-primary{
    padding: 16px 20px;
    border: 2px solid white;
    background-color:rgb(130, 218, 219);
    color: white;
    margin: 30px;
    font-size: 1.5rem;
    border-radius: 100px;
}
.h-secondary{
    border: 2px solid white;
    background-color:rgb(130 218 219);
    color: white;
    margin: 2px 3px;
    font-size: 1.3rem;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.btn{
    color: black;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.btn:hover{
    color: white;
    background: red;
}
.center{
    text-align: center;
}